<html>
    <head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
		<!-- TODO what is the proper way to import these? -->
		<script src="../../javascript/profile-package/highcharts.js" type="text/javascript"></script>
		<script src="../static/js/highcharts.js" type="text/javascript"></script>


		<script>
		
		var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
		
		Highcharts.setOptions({
		    global: {
		        useUTC: false
		    }
		});
		
		var chart;
		$(document).ready(function() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'highchart',
		         type: 'spline'
		      },
		      title: {
		         text: 'Historical Timeline for Experiement: {{ experiment_name }}'
		      },
		      xAxis: {
		         type: 'datetime'
		      },
		      yAxis: {
		         title: {
		            text: 'Conversion Rate (%)'
		         },
		         min: 0
		      },
			  series: [
				{% for ts in experiment_data %}
				    { 
				        name : '{{ experiment_data|hash:ts|hash:"name" }}' , 
				        data : {{ experiment_data|hash:ts|hash:"snapshots" }} 
				    } 
				{% if not forloop.last %},{% endif %}
				{% endfor %}
		      ]
		   });
		   
		   
		});
		</script>
	</head>
		
	<body>
		<div id="highchart"></div>
	</body>
</html>

