{% extends "base.html" %}
{% block title %}GAE/Bingo Timeline Plot{% endblock title %}
{% block head %}
    <script src="../static/js/highcharts.js" type="text/javascript"></script>
        
    <script>
    
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    
    var chart;
    $(document).ready(function() {
       chart = new Highcharts.Chart({
          chart: {
             renderTo: 'highchart',
             type: 'spline'
          },
          credits: {
              enabled: false
          },
          title: {

            {% ifnotequal experiment.conversion_name experiment.name %}
                text: 'Conversions to {{ experiment.conversion_name|escape }}'
            {% else %}
            text: ''
            {% endifnotequal%}
          },
          xAxis: {
             type: 'datetime'
          },
          yAxis: {
             title: {
                text: 'Conversion Rate (%)'
             },
             min: 0
          },
          series: [
            {% for ts in experiment_data %}
                { 
                    name : '{{ ts.name|escape }}' , 
                    data : {{ ts.snapshots }} 
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
       });
    });
    </script>

{% endblock head %}

{% block body %}
    <div id="main">
        <div id="header"><h1><a href="/gae_bingo/dashboard">GAE/Bingo Experiments</a></h1></div>

        <div class="experiment-container block">
            {% if not experiment_data %}
            No historical experiment data to plot.
            {% else %}
            <h2 class="experiment-title">{{ experiment.pretty_name|escape }}</h2>
            <div id="highchart"></div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
